@media(max-width:1440px){
    
}
@media(max-width:1199px){

}
@media(max-width:1024px){
    .resume_header {
        gap: 39px;
        padding: 30px 48px;
    }
    .resumer_info{
        padding: 40px 20px 30px;
    }
    .skill-title{
        max-width: 358px;
    }
}
@media(max-width:992px){
    .resumer_name h1{
        font-size: 34px;
        line-height: 36px;
    }
    .skill-title{
        padding: 12px 20px;
    }
}
@media(max-width:768px){
    .resume_header {
        gap: 20px;
        padding: 20px 20px 30px 48px;
    }
    .resumer_info {
        padding: 30px 20px 20px;
    }
    .skills ul li ,.skill-title h3{
        font-size: 20px;
        line-height: 24px;
    }
    .skill-title {
        max-width: 278px;
    }
}
@media(max-width:767px){
      .resume_header{
        justify-content: center;
      }
      .resumer_info li{
        justify-content: center;
      }
      .skill-title{
        margin-top: 18px;
    }
}
@media(max-width:640px){
    .resumer_name h1{
        font-size:30px;
        line-height: 32px;
    }
    .resumer_name h3{
        font-size: 24px;
        line-height: 26px;
    }
    .resumer_info {
        padding: 12px 20px 9px;
    }
    .resumer_info li{
        margin-bottom: 10px;
    }
    .resume_header{
        padding: 20px 11px 30px 20px;
    }
    .skills ul{
        flex-wrap: wrap;
    }
    

}
@media(max-width:430px){
    .resumer_image img{
        width: 120px;
        height: 120px;
    }
    .resumer_name h3 {
        font-size: 20px;
        line-height: 24px;
    }
}
@media(max-width:375px){
    .resumer_name h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .resumer_name h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .resumer_name p {
        font-size: 16px;
        line-height: 20px;
    }
    .resumer_info li h3 a ,.resumer_info li i {
        font-size: 18px;
        line-height: 20px;
    }
}
@media(max-width:329px){
    .resumer_image img {
        width: 104px;
        height: 104px;
    }
}